.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out
gen

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### JRebel ###
**/rebel.xml
**/rebel-remote.xml